$color-primary-light: #afbafc;
$color-primary: #6a7ff9;
$color-primary-dark: #3a44cc;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: rgb(122, 122, 122);
$color-grey-dark-3: #333;
$color-white: rgb(255, 255, 255);
$color-black: #000;

$bg-color-grey: #f8f9fa;

//FONT SIZE
$default-font-size: 1.6rem;
