.navbar {
  color: $color-white;
  padding: 0.5rem 3rem;
  height: 8vh;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.1s;
  // position: sticky;
  // width: 100%;
  // top: 0;
  // left: 0;

  @include respond(tab-port){
    background-color: rgba($color-black, 0.8);
   // backdrop-filter: blur(10rem);
  }

  &__mode-float {
    color: $color-grey-dark-3;
    width: 100%;
    background-color: $bg-color-grey;
    box-shadow: 0 0.7rem 1rem rgba($color-black, 0.15);
  }

  &__logo {
    font-family: "billion_reach_demoregular";
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 4rem;
    flex: 0.5;
    @include respond(tab-port) {
      flex: 1;
    }
  }

  &__navlist-wrapper {
    flex: 0.5;
    &--show {
      max-height: 50vh !important;
      transition: max-height .5s ease-in-out;
    }

    &--hide {
      @include respond(tab-port) {
        max-height: 0 !important;
        transition: max-height 0.5s ease-in-out;
      }
    }

    @include respond(tab-port) {
      display: block;
      position: fixed;
      overflow: hidden;
      width: 100%;
      max-height: 50vh;
      backdrop-filter: inherit;
      // padding: 4rem 3rem;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      // background-color: $color-black;
      color: inherit;
      // background-color: $color-white;
      background-color: inherit;
      z-index: inherit;
      // right: -70vw;
      top: 8vh;
      left: 0;
      box-shadow: 0 1rem 1rem rgba($color-black, 0.15);
    }
  }

  &__list {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include respond(tab-port) {
      display: block;
      width: 100%;
      font-size: 2.5rem;
      height: inherit;
      padding: 2rem 3rem;
    }
  }

  &__toggle {
    display: none;
    position: relative;
    visibility: hidden;
    @include respond(tab-port) {
      display: block;
      visibility: visible;
    }
  }

  &__toggle-icon {
    display: none;
    visibility: hidden;
    @include respond(tab-port) {
      display: block;
      visibility: visible;
    }
    color: inherit;
    font-size: 2.5rem;

    &--open {
      @include absCenter;
    }

    &--close {
      position: absolute;
      display: none;
      top: 2rem;
      right: 2rem;
    }
  }

  &__item {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;

    &:not(:last-child) {
      margin-right: 2.5rem;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }

    @include respond(tab-port) {
      display: block;
      width: 100%;
      text-align: left;
      font-size: 2rem;
      height: inherit;
    }
  }

  &__link {
    text-decoration: none;
    position: relative;
    color: inherit;
    transition: all 0.1s;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1rem;
      width: 0;
      height: 4px;
      background-color: $color-primary;
      transition: width 0.3s;
    }

    &:hover:after {
      width: 100%;
    }

    @include respond(tab-port) {
      display: block;
      height: inherit;
    }
  }
}
